<template>
  <drawer name='add-drawer' :open="false" drawer-class="add-drawer">
    <button @click="$drawer.emit('add-drawer', false)">Dismiss</button>
  </drawer>
</template>
<script>
export default {
  name: 'add-drawer',
}
</script>
