<template>
  <div id="app">
    <app-header></app-header>
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  name: 'app',
  el: '#app',
  components: {
    AppHeader: () => import('./Header.vue')
  }
}
</script>
<style lang="scss">

body {
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-flow: column;
}
</style>
