<template>
  <header id="app-header">
    <div>
      <!-- ## left: -->
      <!--    page title: dropdown to open drawer to select/add/edit/remove pages -->
      <div class="drawer-open" @click="$drawer.emit('page-drawer', true)">
        {{ current.title }}
      </div>
    </div>
    <div>
      <!-- ## center: -->
      <!--    search bar -->
      <md-icon name="search" large title="Search the web"></md-icon>
    </div>
    <div>
      <!-- ## right: -->
      <!--    + icon: right drawer to add content to the page -->
      <!--    user icon: right drawer for settings -->
      <!-- <i class="material-icons text:white">face</i> -->
      <md-icon
        name="add_circle" title="Add content"
        class="drawer-open"
        @click.native="$drawer.emit('add-drawer', true)"
      ></md-icon>
      <md-icon
        name="account_circle" title="Show user settings"
        class="drawer-open"
        @click.native="$drawer.emit('user-drawer', true)"
      ></md-icon>
    </div>
  </header>
</template>
<script>
export default {
  name: 'app-header',
  computed: {
    current() {
      return this.$store.state.pages[this.$route.name]
    }
  },
}
</script>
<style lang="scss">
#app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 4rem;
  padding: 0 1rem;
}

#app-header .drawer-open {
  font-size: 2rem;
  cursor: pointer;
}
</style>
