<template>
  <main id="app-content">
    <div class="container" :class="'grid-'+columns.length">
      <template v-for="(col,icol) in columns">
        <column :column="icol" :key="col.id" class="app-column"></column>
      </template>
    </div>
    <div>
      <page-drawer></page-drawer>
      <add-drawer></add-drawer>
      <user-drawer></user-drawer>
    </div>
  </main>
</template>
<script>
import Column from '../components/Column.vue'
import PageDrawer from './PageDrawer.vue'
import AddDrawer from './AddDrawer.vue'
import UserDrawer from './UserDrawer.vue'

export default {
  name: 'page',
  components: { Column, PageDrawer, AddDrawer, UserDrawer },
  computed: {
    columns() {
      return this.$store.state.pages[this.$route.name].columns
    }
  },
  watch: {
    '$route' (to, from) {
      console.log(`navigating from ${from.name} to ${to.name}`)
    }
  },
}
</script>
<style lang="scss">
#app-content {
  position: relative;
  height: calc(100vh - 4rem);
  padding: 1rem 2rem;

  & .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100%;
  }

  & .container > .app-column {
    display: flex;
    flex-flow: column;
  }
}

.grid-3 > div {
  position: relative;
  flex-basis: 33%;
}

</style>
