<template>
  <drawer name="page-drawer" left :open="false" drawer-class="page-drawer">
    <button @click="$drawer.emit('page-drawer', false)">Dismiss</button>
  </drawer>
</template>
<script>
export default {
  name: 'page-drawer',
}
</script>
<style lang="scss">
.page-drawer {
  background-color: lightblue !important;
}
</style>