<template>
  <drawer name="user-drawer" :open="false" drawer-class="user-drawer">
    <button @click="$drawer.emit('user-drawer', false)">Dismiss</button>
  </drawer>
</template>
<script>
export default {
  name: 'user-drawer',
}
</script>
<style lang="scss">
.user-drawer {
  background-color: lightcoral !important;
}
</style>