<template>
  <draggable v-bind="dragOptions" v-model="rows">
    <div v-for="row in rows" :key="row.id">
      <component
        :is="widgets[row.id].type"
        :id="row.id"
        :title="widgets[row.id].title"
        :definition="widgets[row.id].definition"
      />
    </div>
    <template #footer>
      <div class="footer">
        <button @click="addWidget" class="add ">
          <md-icon name="add" title="Add a new widget here" />
        </button>
      </div>
    </template>
  </draggable>
</template>
<script>
import Draggable from 'vuedraggable'
import UndefWidget from './UndefWidget.vue'

export default {
  name: 'column',
  components: { Draggable, UndefWidget },
  props: {
    column: { type: Number },
  },
  data () { return {
    dragOptions: {
      group: 'widgets'
    },
  }},
  computed: {
    widgets () {
      return this.$store.state.widgets
    },
    rows: {
      get () {
        return this.$store.state.pages[this.$route.name].columns[this.column].rows
      },
      set (data) {
        this.$store.commit('setColumn', {
          page: this.$route.name,
          colnum: this.column,
          data
        })
      }
    }
  },
  methods: {
    addWidget () {
      console.log('adding widget to column '+this.column)
    }
  }
}
</script>
<style lang="scss" scoped>
.app-column > .footer {
  display: flex;
  flex-flow: column;
  flex-grow: 1;

  & > .add {
    display: flex;
    justify-content: center;
  }

  &:not(:hover) > .add {
    visibility: hidden;
  }
}
</style>