<template>
  <widget :title="title">
    <div class="undef-widget">
      <h2>?</h2>
    </div>
  </widget>
</template>
<script>
import Widget from './Widget.vue'

export default {
  name: 'undef-widget',
  components: { Widget },
  props: {
    id: { type: String, required: true },
    title: { type: String }
  }
}
</script>
<style lang="scss" scoped>
.undef-widget {
  padding: 1rem;

  & > h2 {
    text-align: center;
  }
}
</style>