<template>
  <div class="widget">
    <div class="header">
      <div class="title">{{ title }}</div>
      <div class="menu">
        <slot name="title-icons" />
        <dropdown :options="menu" @dropdown-select.self="menuSelect">
          <template #button>
            <md-icon name="more_vert" class="dropdown-button" />
          </template>
        </dropdown>
      </div>
    </div>
    <slot />
  </div>
</template>
<script>
export default {
  name: 'widget',
  props: {
    title: { type: String },
    menuItems: { type: [Array, null], default: null }
  },
  data () { return {
    menu: [
      { name: 'edit', icon: 'edit', label: 'Edit' },
      { name: 'delete', icon: 'delete', label: 'Delete' },
    ],
  }},
  methods: {
    menuSelect (item) {
      console.log('selected '+JSON.stringify(item))
    }
  }
}
</script>
<style lang="scss" scoped>
.widget {
  display: flex;
  flex-flow: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  margin: calc(1rem / 2);
  padding-bottom: calc(1rem / 4);
}
.header {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  position: relative;
  padding: calc(1rem / 2);
  background-color: grey;
}
.title {
  flex: 1 1 0%;
  align-self: center;
}
.menu {
  flex: 1 1 0%;
  flex-grow: 0;
}
.dropdown-button {
  cursor: pointer;
}
</style>