<template>
  <div
    class="drawer-overlay"
    :class="{'none': !opened}"
    @click.self="opened = false"
  >
    <div :class="[ drawerPosition, drawerClass ]">
      <slot>
        <p>name: {{ name }}</p>
        <p>opened: {{ opened }}</p>
      </slot>
    </div>
  </div>
</template>
<script>
// we define a global component which will be used to communicate between application and drawers
// via $emit() and $on() calls.
import Vue from 'vue'
const DrawerEmitter = new Vue()

Vue.use({
  install (Vue) {
    Vue.prototype.$drawer = {
      emit (name, value) {
        DrawerEmitter.$emit('drawer', name, value)
      },
    }
  }
})

export default {
  name: 'drawer',
  props: {
    name: { type: [String, Number], required: true }, // used in the event payload
    open: { type: Boolean, default: false },  // initially opened
    left: { type: Boolean, default: false }, // position left/right
    drawerClass: { type: String },
  },
  data () { return {
    opened: this.open
  }},
  computed: {
    drawerPosition () {
      return (this.left ? 'left' : 'right')
    }
  },
  mounted () {
    DrawerEmitter.$on('drawer', (drawer, value) => {
      if (typeof drawer === 'string' && drawer === this.name) {
        this.opened = value
      }
    })
  },
}
</script>
<style lang="scss" scoped>
.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);

  & > div {
    position: absolute;
    top: 4rem;
    min-width: 20rem;
    height: 100%;
    padding: 1rem;
    background-color: white;
  }

  & > div.left {
    left: 0;
  }
  & > div.right {
    right: 0;
  }
}
.none {
  display: none;
}
</style>
