<template>
  <div class="dropdown">
    <div @click="doDropdown">
      <slot name="button" />
    </div>
    <div v-if="!hidden" v-clickaway="doDropdown" class="dropdown-list">
      <ul>
        <li
          v-for="(item,idx) in options"
          :key="idx"
          @click="selectItem(item)"
        >
          <md-icon v-if="item.icon" :name="item.icon"></md-icon>
          <span v-if="item.label">{{ item.label }}</span>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import clickaway from '../../plugins/clickaway'

export default {
  name: 'dropdown',
  props: {
    options: { type: Array },
  },
  mixins: [
    clickaway
  ],
  data () { return {
    hidden: true
  }},
  mounted () {
  },
  methods: {
    doDropdown () { this.hidden = !this.hidden },
    selectItem (item) {
      this.$emit('dropdown-select', item)
      this.hidden = true
    },
  }
}
</script>
<style lang="scss" scoped>
.dropdown-list {
  position: absolute;
  right: 0;

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: yellow;

    & > li {
      cursor: pointer;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      font-size: 0.9rem;
      padding: 0.2rem;
    }
  }
}
</style>