<template>
  <i class="material-icons" :class="size">{{ name }}</i>
</template>
<script>
export default {
  name: 'md-icon',
  props: {
    name: String,
    small: Boolean,
    normal: Boolean,
    large: Boolean,
    xlarge: Boolean
  },
  computed: {
    size() {
      return this.xlarge ? 'md-48' : this.large ? 'md-36' : this.small ? 'md-18' : this.normal ? 'md-24' : ''
    }
  }
}
</script>
<style lang="scss">
.material-icons {
  &.md-18 {
    font-size: 18px;
  }
  &.md-24 {
    font-size: 24px;
  }
  &.md-36 {
    font-size: 36px;
  }
  &.md-48 {
    font-size: 48px;
  }
}
</style>
